/*
Objet: Algo Num tp1
Date: 11 mars 2019

Tristan Seuret
Nathan Latino
Jonas Vallat
Sol Rosca
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 10px 20px 10px 20px !important;
}

.header {
    padding: 30px 0 50px 0;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.header h1 .manager {
    color: #e96900;
}

#calculator {
    margin: auto;
    height: 600px;
}

.precision {
    max-width: 75px;
}

.next-button {
    margin-left: 20px;
}










