<!--Objet: Algo Num tp2-->
<!--Date: 16 mars 2019-->

<!--Tristan Seuret-->
<!--Nathan Latino-->
<!--Jonas Vallat-->
<!--Sol Rosca-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="static/css/main.css">

  <script src="https://www.desmos.com/api/v1.2/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

  <script src="static/js/vue.js"></script>


  <title>AlgoNum: tp2</title>
</head>
<body>

<div class="container">
  <div class="content">


    <div class="header">
      <h1><span class="manager">Algo'</span>num</h1>
      <p>
        Tp2: À la recherche des racines perdues. <br>
        Featuring Newton (Isaac de son prénom)</p>
    </div>


    <section class="section">
      <div class="columns is-variable is-8">

        <div class="column is-7 ">
          <div id="calculator"></div>
        </div>

        <div class="column">
          <div id="app">

            <div class="functions">
              <div class="buttons has-addons">
                <span v-for="(f, i) in functions"
                      :key="i"
                      @click="setFunction(f)"
                      class="button"
                      :class="{'is-info': func.desmos === f.desmos}">
                  <b>{{ f.simple }}</b>
                </span>
              </div>
              <a class="is-info" @click="showModal()">Trouver les racines</a>
            </div>

            <br>


            <div class="field a-field has-addons">
              <p class="control">
                <a class="button is-static"><b>a</b></a>
              </p>
              <p class="control">
                <input v-model="a"
                       :disabled="!input"
                       class="input"
                       type="number"
                       step="0.1">
              </p>
              <p class="control">
                <a v-if="input"
                   class="button is-info"
                   @click="start()">Go</a>
                <a v-else
                   :disabled="idx === lines.length"
                   class="button is-primary"
                   @click="next()">Next</a>
              </p>
            </div>
            <div class="field a-field has-addons">
              <p class="control">
                <a class="button is-static"><b>Erreur: &nbsp; 1e -</b></a>
              </p>
              <p class="control">
                <input v-model="precision"
                       :disabled="!input"
                       class="input precision"
                       type="number"
                       :step="1">
              </p>
            </div>
            <button v-if="showNext || idx === lines.length"
                    class="button is-danger"
                    @click="reset()">Reset
            </button>

            <br>
            <br>

            <table v-if="steps.length" class="table is-small">
              <thead>
              <tr>
                <th>Itération</th>
                <th>a</th>
                <th>A</th>
                <th>delta</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(step, i) in steps" :keys="i">
                <th>{{i + 1}}</th>
                <td>{{ step.a }}</td>
                <td>{{ step.A }}</td>
                <td>{{ Math.abs(step.a - step.A) }}</td>
              </tr>
              </tbody>

            </table>


            <div class="modal content" :class="{'is-active': modal}">
              <div class="modal-background"></div>
              <div class="modal-content box">

                <ul>
                  <li v-for="root in roots">{{root}}</li>
                </ul>

              </div>
              <button class="modal-close is-large" aria-label="close" @click="hideModal()">
              </button>
            </div>

          </div>
        </div>

      </div>
    </section>


    <section class="section">

      <b>Groupe B4:</b>
      <ul>
        <li>Tristan Seuret</li>
        <li>Nathan Latino</li>
        <li>Jonas Vallat</li>
        <li>Sol Rosca</li>
      </ul>

      <h1>Contextualisation</h1>
      <p>Le présent laboratoire traite de la résolution d’équation. Il était possible de développer un
        algorithme de résolution d’équation selon l’une des trois méthodes suivantes :</p>
      <ul>
        <li>Méthode dichotomique</li>
        <li>Méthode de la tangeante</li>
        <li>Méthode du point fixe</li>
      </ul>
      <p>Nous avons choisi d’implémenter la méthode de la tangeante (aussi dit “méthode de Newton”) par
        proposition de l’enseignant.<br>
        Le cahier des charges ne demandait la démonstration que pour deux fonctions :</p>
      <ul>
        <li>Sin(x) - x / 13</li>
        <li>x / (1 - x<sup>2</sup>)</li>
      </ul>
      <h1>Méthodologie de développement</h1>
      <h2>Approche du problème</h2>
      <p>La première étape pour résoudre ce problème a été de tester la méthodologie de Newton (tangente).
        Plusieurs tests ont été fait graphiquement avec des formules basique pour comprendre
        l’algorithme.</p>
      <h2>Méthodologie de travail</h2>
      <p>Tout d’abord, il a fallu trouver une solution permettant de dessiner des graphiques. Pour cela,
        l’API
        proposée par Desmos convient parfaitement aux besoin du cahier des charges.<br>
        Ainsi, le projet est découpé en deux parties, front et back-end, ce qui permet de répartir
        facilement
        le travail entre les collaborateurs.</p>
      <h3>Recherche de racine via la méthode de
        Newton</h3>
      <p>Pour trouver toutes les racines d’une fonction, l’algoritme doit parcourir l’axe des x avec une
        certaine granularité, et chercher la racine correspondant à chacun de ces points d’entrée.</p>
      <p>Pour éviter les doublons, une vérification est faite sur les données pour que la différence de la
        valeur avec epsilon et la valeur soit plus grande.<br>
        pour que le delta entre la valeur actuelle et les valeurs déjà présentes soit supérieur à epsilon
      </p>
      <h1>Conclusion</h1>
      <p>Le cahier des charges est respecté. L’application permet de trouver tous les 0 de la fonction dans
        l’intervalle [-100;100[ (voire plus loin) ainsi que de décomposer une recherche.
      <h3>Gestion de la précision</h3>
      <p>Dans les cas où la valeur de départ est d’un ordre de grandeur trop élevé ( supérieure à ~20), le
        delta entre les deux points qui permettent de calculer la pente de la tangeante devenait trop petit.
        Ainsi, il a fallu adapter ce delta en fonction de l’ordre de grandeur de la valeur fournie de cette
        façon :</p>
      <p><strong>Précision de base</strong> : 10<sup>-15</sup><br>
        <strong>Adapté grâce à la méthode suivante</strong> : <em>précision</em> + log<sub>10</sub>(|<em>valeur</em>|)
      </p>
      <blockquote>
        <p>Uniquement dans les cas où |<em>valeur</em>| est supérieur à 1<br>
          thode de Newton pour une valeur donnée, pour autant que celle-ci atteigne un zéro.</p>
      </blockquote>
      <h1>Bibliothèque</h1>
      <p>Le rendu de cette application se base sur l’API desmos.</p>
    </section>


  </div>
</div>


<script src="core/constant.js"></script>
<script src="core/Plot.js"></script>
<script src="core/NewtonTangent.js"></script>
<script src="vueApp.js"></script>
</body>
</html>
